@model Product

<div class="col">
    <div class="card shadow-sm">
        <a href="/Products/Detail/@Model.Id">
            <img src="/Img/@Model.Image" class="bd-placeholder-img card-img-top" alt="@Model.Name" width="100%" height="225" />
        </a>
        <div class="card-body">
            <p class="card-text">
               @Model.Name
            </p>
        </div>
    </div>
</div>