@model Product

@{
    ViewData["Title"] = "Model.Name";
}

<h1>@Model.Name</h1>

<div class="row">
    <div class="col">
        <img src="/Img/@Model.Image" alt="@Model.Name" />
    </div>
    <div class="col">
        <h1>@Model.Name</h1>
    </div>

</div>
