@model IEnumerable<Brand>

@{
    var markalar = Model; // database de gitmeden veriler bi kere gelicek bu dataya sorgu vermiş olucaz.


    <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Markalar
        </a>

    <ul class="dropdown-menu">
        @foreach (var marka in markalar) {

            <li><a class="dropdown-item" href="/Brands/Detail/@marka.Id">@marka.Name</a></li>

        }
    
     </ul>
     </div>
    
}