@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_PartialSlider", Model.Sliders)

<div class="text-center">
    <h1 class="display-4">Ürünlerimiz</h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"">
    @foreach (var item in Model.Products) 
    {
        @await Html.PartialAsync("_ProductPartial", item)

    }
</div>
