@model Category

@{
    ViewData["Title"] = Model.Name; // Tab yani sekme başlığına giden isim
}

<h1>@Model.Name</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" ">
    @foreach (var item in Model.Products) 
    {
    @await Html.PartialAsync("_ProductPartial", item)
   
    }
</div>
